* {
  margin: 0;
  padding: 0;
}

body {
  background: #0404fc;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'Playfair', serif; */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  color: white;
}
.Navbar {
  font-size: larger;
  color: white;
  background: #7b67fdc5;
  height: 4.5rem;
  display: flex;
}
.Name {
  position: relative;
  left: 13rem;
  top: 1.5rem;
}
.active {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.NavLinks {
  display: flex;
  width: 30rem;
  justify-content: space-evenly;
  position: relative;
  padding: 0;
  left: 35rem;
  top: 1.4rem;
}

.intro_container {
  position: relative;
  left: 8rem;
  top: 8rem;
}
.intro {
  color: white;
  font-weight: lighter;
  position: relative;
  right: 6rem;
}
.intro span {
  font-family: "Times New Roman", Times, serif;
  color: rgb(170, 107, 228);
}

.Buttons {
  display: flex;
  position: relative;
  left: 8rem;
  top: 12rem;
  width: 18rem;
  justify-content: space-evenly;
}

button {
  background: #7c24cc;
  color: white;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 5px;
  text-shadow: 0 0 1px white;
  transition: background-color 1s ease;
}
.Home_Buttons {
  background: purple;
  color: white;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 5px;
  text-shadow: 0 0 1px white;
  text-decoration: none;
  transition: background-color 1s ease;
}

.Home_Buttons:hover {
  background: #0c040c;
  cursor: pointer;
}

.right_image {
  position: relative;
  left: 42rem;
  bottom: 7rem;
  z-index: -1;
}
.Education {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: larger;
  text-align: center;
}
.course {
  color: rgb(170, 107, 228);
}
.Projects {
  display: flex;
  position: relative;
  top: 2rem;
  flex-direction: column;
  align-items: center;
}

.Anchors a {
  position: relative;
  top: 5rem;
  margin: 5.3rem;
}
.imgs {
  display: flex;
  justify-content: space-between;
}

.imgs img {
  position: relative;
  top: 8rem;
  border-radius: 15px;
  margin: 2rem;
  width: 12rem;
  left: 2rem;
}
.contacts {
  text-align: center;
  position: relative;
  top: 12rem;
  width: 35rem;
  padding: 2rem;
  border-radius: 1rem;
  left: 2rem;
}
.contacts a {
  text-decoration: none;
  color: white;
}

.wrap {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  flex-wrap: wrap;
}

.edu-title {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: #02fcdb;
  margin-bottom: 1rem;
}
.edu-image {
  width: 10rem;
  margin-right: 1rem;
  border-radius: 2rem;
}
.edu_container {
  width: 35rem;
  display: flex;
  text-align: center;
}
.box_details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.forms {
  background: whitesmoke;
  color: black;
  padding: 2rem;
  width: 20rem;
  position: relative;
  left: 52rem;
  border-radius: 0.5rem;
  text-align: center;
}
label {
  margin: 3rem;
}
input {
  border: 1px solid purple;
  border-radius: 0.3rem;
  height: 1rem;
  padding: 0.5rem;
  transition: box-shadow 0.3s ease-in-out 0s, border 0.3s ease-in-out 0s;
}
textarea {
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid purple;
  padding: 0.3rem;
  width: 15rem;
}

body::-webkit-scrollbar {
  display: none;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  /* body {
    font-size: 14px;
    padding: 10px;
  } */
}

/* Media queries for even smaller screens */
@media screen and (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    overflow-x: hidden;
    position: relative;
  }
  .Name {
    /* position: relative; */
    left: 1rem;
    top: 1.2rem;
    font-size: medium;
  }
  .Navbar {
    height: 5rem;
  }
  .NavLinks {
    left: 0rem;
    font-size: medium;
    top: 2rem;
  }
  .right_image img {
    width: 25rem;
    position: relative;
    right: 43rem;
    top: 2rem;
  }
  .body {
    position: relative;
    top: 25rem;
    right: 7rem;
  }
  .wrap {
    font-size: small;
    width: 22rem;
  }
  .contacts {
    top: 5rem;
    width: 15rem;
  }
  .forms {
    top: 10rem;
    width: 16rem;
    left: 1.5rem;
  }
  .intro span{
    font-family: 'Times New Roman', Times, serif;
  }
  .imgs{
    display: none;
  }
  .Projects{
    display: none;
  }
  .Mobile{
    text-align: center;
    position: relative;
    top: 5rem;
  }
  li{
    font-size: larger;
    margin: 1rem;
  }
}
.Mobile{
  display: none;
}