body {
  margin: 0;
  padding: 0;
  background: #0404fc;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
.Navbar {
  font-size: larger;
  color: white;
  background: #7b67fdc5;
  height: 4.5rem;
  display: flex;
}
.Name {
  position: relative;
  left: 13rem;
}
.active {
  text-decoration: none;
  color: white;
}
.NavLinks {
  display: flex;
  width: 30rem;
  justify-content: space-evenly;
  position: relative;
  padding: 0;
  left: 35rem;
  top: 1.4rem;
}

.intro_container {
  position: relative;
  left: 8rem;
  top: 8rem;
}
.intro {
  color: white;
  font-weight: lighter;
  text-shadow: 0 0 2px white;
}
.intro span {
  font-family: "Times New Roman", Times, serif;
  color: #b99cdf;
}

.Buttons {
  display: flex;
  position: relative;
  left: 8rem;
  top: 8rem;
  width: 15rem;
  justify-content: space-evenly;
}

button {
  background: #7c24cc;
  color: white;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 5px;
  text-shadow: 0 0 1px white;
  transition: background-color 1s ease;
}

button:hover{
  background: #0C040C;
  cursor: pointer;
}

.right_image{
  position: relative;
    left: 42rem;
    bottom: 11rem;
    z-index: -1;
}